<?php
/**
 * $Id: auth.php.dist,v 1.5.4.1 2003/11/02 16:30:23 seth Exp $
 * Alternative login (no authentication done).
 */

require_once($_base . 'lib/Online.php');

// why $note_user?  it's the way authentication is setup on NOTE's
// systems at Amherst
if (isset($_POST['note_user'])) {
  // log this user in
  session_register('note_user');
  $_SESSION['note_user'] = &$_POST['note_user'];
  if (!Planworld::isUser($_SESSION['note_user']))
    Planworld::addUser($_SESSION['note_user']);
} else if (!isset($_SESSION['note_user'])) {
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html>
<body>
<form action="<?php echo PW_URL_INDEX; ?>" method="post">
Username: <input type="text" name="note_user"><br />
<input type="submit" value="Login" />
</form>
</body>
</html>
<?php
   /* drop out of here; there is no more to see */
   exit();
} // if (isset($_POST['note_user']))
?>
