<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" 
"http://www.w3.org/TR/REC-html40/strict.dtd">
<html>
  <head>
    <title>Frequently Asked Questions About Plans</title>
  </head>

  <body bgcolor="white">
    <center><h1>Frequently Asked Questions About Plans</h1></center>
    <ul>
      <li><a href="#plans">What are plans?</a>
      <li><a href="#vax">What is the VAX?</a>
      <li><a href="#why">Where did this program come from?</a>
      <li><a href="#problems">What should I do if the plans program won't
          work, I find a bug in it, or I just have a suggestion about new
          features?</a>
      <li><a href="#who">Who are you?</a>
      <li><a href="#how">How do I get a plan?</a>
      <li><a href="#time">How long does it take to get a plan?</a>
      <li><a href="#admin">Why do administrator's have plans?</a>
      <li><a href="#change">Can someone else change my plan?</a>
      <li><a href="#organ">Can my campus group have a plan?</a>
      <li><a href="#htmlguide">How can I use basic HTML in plans?</a>
      <li><a href="#regexp">What is this Reg. Exp. thing on the search        
          utility?</a>
      <li><a href="#reguide">How do I use Reg. Exp.?</a>
    </ul>
    <hr>
    <h2><a name="plans">What are plans?</a></h2>
    <p>In the words of Rachel Heck:<br><Br>
      Plans were originally conceived of as a way for people who used
      computers in the work place to let others in the company know what
      they were working on.  Today, especially at Grinnell, plans are used
      for a variety of other purposes...most of which are not associated
      with our current or future plans in life.  Plans are a place where an
      individual can write whatever comes to mind under the veil of false
      secrecy.  This is my feeling anyway.  Though it is known that plans
      are read by others, a person's plan can be a way to share the
      thoughts that cannot otherwise be expressed in an everyday
      environment.  Whether one wants to make their readers laugh or
      understand their thoughts, a plan is an easy and handy way to achieve
      many goals.
    </p>
    <h2><a name="vax">What is the VAX?</a></h2>
    <p>In the words of Rachel Heck:<br><br>
      Ah, the VAX.  Though there is a lot of sentimental attachment to the
      VAX by Grinnell College students, the VAX is simply a well-made yet
      archaic text-based computer system that is better left to history.
      That is hard for me to say, but it is true.  Before we had NT Storage
      and the IMAP client, VAX was our access to the campus network.  The
      two main uses for the VAX shortly before its demise were to check
      email and to read plans.  Webmail, with its many little bugs, has not
      been met with much enthusiasm.  Yet, I believe that the main
      emotional attachment to the VAX arises from the fact that there is no
      campus-wide replacement for the plan system.  The MathLAN does have
      plans but many people on campus do not know much about this network
      nor, unfortunately, want to learn.  I hope to offer a possible 
      replacement for the VAX plan system.
    </p>
    <h2><a name="why">Where did this program come from?</a></h2>
    <p>In the words of Rachel Heck:<br><br>
      Contrary to popular belief, the plans program located at 
      <a href="http://www.math.grin.edu/~heckr/Finger/">
        http://www.math.grin.edu/~heckr/Finger/
      </a>
      is not part of a class project, it is not commercial software, and no
      one is getting paid to develop it.  The plans program that you have
      been using, are going to use, or are thinking about using was solely
      developed for my friends.  After listening to everyone I know
      complain about the end of plans for so long, I decided that I could
      do something to make them happier.  I am glad that so many others
      have gotten use out of the program.  It makes the environment much
      more rich.
    </p>
    <h2><a name="problems">What should I do if the plans program won't
        work, I find a bug in it, or I just have a suggestion about new
        features?</a></h2>
    <p>
      Send an email to us at plans@grinnell.edu. 
      This will allow us to take note of the situation.  If
      the system goes down for any length of time, feel free to send us a
      quick email as we may not know that it is down and will try our best
      to get it back up and working in a timely fashion. If you have any
      questions or comments, please email them to us at plans@grinnell.edu
      and we will try our best to reply quite quickly.
    </p>
    <h2><a name="who">Who are you?</a></h2>
    <p>
      <b>Rachel Heck</b><br> 
      Graduated in 2001 with a double major in 
      computer science and english. Next year she will be attending
      graduate school in Madison Wisconsin. She is
      originally from Orlando, FL and that is
      where she goes during her breaks. She is also a big movie fan.
      Her (outdated) webpage is 
      <a href="http://www.math.grin.edu/~heckr/">
        http://www.math.grin.edu/~heckr/
      </a>. She created the Grinnell web based plans system.<br><br>
      <b>Info on the Jonathans is coming.</b>
    </p>
    <h2><a name="how">How do I get a plan?</a></h2>
    <p>
      If you belong to the Grinnell College Community, send us a quick
      email from your campus email account.  Our email address is
      plans@grinnell.edu.  Just tell us you want a plan and we will
      create one for you.
    </p>
    <h2><a name="name">Can I choose my username for plans?</a></h2>
    <p>
      To make life easier for us and for others trying to find you,
      we do not allow people to pick their own
      usernames.  We will give you the same username as your Grinnell
      username.
    </p>
    <h2><a name="time">How long does it take to get a plan?</a></h2>
    <p>
      Hopefully a day at most. There are three people checking email,
      so it shouldn't take long for your email to reach one of us and
      then for one of us to set up an account for you.  If,
      for some odd reason you do not get a plan within 3 days
      send us another quick email to make sure that your request
      has not been lost.
    </p>
    <h2><a name="admin">Why do administrator's have plans?</a></h2>
    <p>In the words of Rachel Heck:<br><br>
      When I created this program, I decided not to limit it to just my
      friends.  I decided that anyone in the Grinnell College Community
      that asked for a plan would get one.  I intend to stick to this
      decision.  When the VAX was still up, anyone could read plans.  I do
      not believe that the administrators that had plans then jeopordized
      the community and I do not believe that they will now.
    </p>
    <h2><a name="change">Can someone else change my plan?</a></h2>
    <p>
      There are a few security
      holes that would take a ton of time to fix.  One of these is
      that when you log out of plans, anyone can log back in as you just by
      pressing the back button on the browser window.  What does this mean?
       This means that if you log out of plans and do not close the web
      browser that you are using when you are done, someone can sit down
      and change your plan.  Since plans are not "high security," this is
      not a real big problem.  If you don't want to run this risk, <i>close
      down your browser window when you are done with it</i>.  Even if you are
      not using plans, this is good advice.
    </p>
    <h2><a name="second">Can I get a second account?</a></h2>
    <p>
      To put it bluntly, no.  We will not give a second account to ANYONE.
      Why?  Because then everyone will want one.  That will create entirely
      too much work for us and confusion.
    </p>
    <h2><a name="organ">Can my campus group have a plan?</a></h2>
    <p>
      If your campus group has an email account, you can have a plan for
      it.  Again, just send us a quick email from the group's email
      account and we will take create one for it.
    </p>
    <h2><a name="htmlguide">How can I use basic HTML on plans?</a></h2>

Opening tags go inside of angle brackets, like this:  &lt;tag&gt;
<br>
<br>For every opening tag, there must be a closing tag to match it.  You close a
tag by starting it with a slash: &lt;/tag&gt;
<br>
<br>There are three formatting tags available: <b>bold</b> &#60;b&#62;,
<u>underline</u> &#60;u&#62;, and <i>italics</i> &#60;i&#62;.  
<br>
<br>You can also insert links by using the "a" tag and specifying a URL with
href="urlgoeshere".  Text that is placed between the opening and closing
"a" tags will become a hyperlink.  
<br>
<br>For example, 
<br>
<br>&#60;a href="http://www.grinnell.edu"&#62;The Grinnell Homepage&#60;/a&#62;
<br>
<br>becomes <a href="http://www.grinnell.edu">The Grinnell Homepage</a>.
<br>
<br>
<br>You can also use more than one tag at a time as I have done with the header
of this section.
<br>
<br>&#60;b&#62;&#60;i&#62;This text is bold and
italicized&#60;/i&#62;&#60/b&#62;
<br>
<br>becomes <b><i>This text is bold and italicized</i>.</b>
<br>
<br>
<br>If there are any questions about using the HTML tags for formatting your
plan, please feel free to contact us at <a
href="mailto:plans@grinnell.edu">plans@grinnell.edu</a> and we'll be happy to
answer them.
</p>

<h2><a name="regexp">What is this Reg. Exp. thing on the search
          utility?</a></h2>
<p>
Reg. Exp. is short for regular expressions. It's a way of describing a
pattern in text. This gives you a much more flexible search.
</p>

<h2><a name="reguide">How do I use Reg. Exp.?</a></h2>
<p>
The search utility now in use was written by Andrew Kensler. What follows
is his explanation of how to use Reg. Exp.
<br><br>
A . matches any character.  For example, b.t will match "bit", "bat",
"bot", "but", "bet", etc.
<br>
<br>Putting a series of characters in square brackets means that it will
match any one of those letters.  Thus you can write b[iaoe]t which will
match "bit", "bat", "bot", "bet", etc., but not "but".  You can also write
a range using a hyphen, e.g. [0-9] will match any digit.  If you put a ^
right after the opening bracket, that means any character except
those.  So [^0-9a-z] means any character that's not a number or a letter.  
<br>
<br>A ? after something means that whatever is just before it is optional
and may or may not be there.  Thus bo?at will match will match either
"boat" or "bat".  If you want to make more than one character optional,
you can put it in parenthesis.  Thus mount(ain)? matches either "mount" or
"mountain.
<br>
<br>A * works similiarly except that it means that it matches something
zero or more times.  So ba*h will match "bh", "bah", "baah", "baaah",
etc.  Again, you can use parenthesis so b(an)*a will match "ba", "bana",
"banana", "bananana", etc.
<br>
<br>If you want something like that but where it must appear at least
once, use a + sign.  Thus bana(na)+ will match "banana", "bananana",
"banananana", etc. like above but not "banan" or "bana" or anything
shorter.
<br>
<br>You can also give multiple possibilities and seperate them with a |
Thus if you had a thing for fruit, you could search for
banana|apple|pear|peach to find any of them.
<br>
<br>You can combine all of these however you like.  You're welcome to
search for (captain [0-9]+)|(b(an)*a) or something like that.
<br>
<br>One last little gotcha, though: if you want to search for any of these
characters litterally, put a backslash, \, before the character.  So if
you really want to search for a question mark, use \? as the regular
expression.
<br><br>If this doesn't make sense, then just leave the Reg. Exp. box
unchecked and it will search for whatever you typed literally.
</p>

<br>
    <hr>
    <p>
      <a href="http://validator.w3.org/check/referer"><img border=0
          src="http://www.w3.org/Icons/valid-html40"
          alt="Valid HTML 4.0!" height=31 width=88></a>
    </p>
    <address><a href="mailto:heckr@grinnell.edu">Rachel Heck</a></address>
<!-- Created: Mon Nov 13 18:06:25 CST 2000 -->
<!-- hhmts start -->
Last modified: Mon Nov 13 19:46:40 CST 2000
<!-- hhmts end -->
  </body>
</html>
